
    <div class="c-book bg-black">
        <div class="o-wrap">
            <div class="o-section">

                <div class="o-cols o-cols--2f">
                    <div class="o-cols__item">                    

                        <div class="o-header splitting--right js-split">
                            <h5 class="o-lead o-lead--5">Moja książka</h5>
                            <h3 class="o-lead o-lead--2">Metoda Tęczówki</h3>   
                        </div>
                        
                        <div class="o-article o-article--big">
                            <p>To pełen konkretów poradnik, który pomoże Ci lepiej zarządzać swoim czasem. To podręcznik z narzędziami 
i&nbsp;praktycznymi technikami.</p>
                        </div>
                        
                        <div class="o-more">
                            <a href="#" class="o-btn o-btn--yellow">Pokaż więcej</a>
                        </div>
                    </div>


                    <div class="o-cols__item">
                       
                       <div class="c-book__grid">
                           <div class="col">
                               <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/book/01.jpg") %> alt="" width="299" height="451" >
                               <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/book/02.jpg") %> alt="" width="299" height="286">
                               
                           </div>
                           
                           <div class="col">
                               <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/book/03.jpg") %> alt="" width="263" height="238">
                               <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/book/04.jpg") %> alt="" width="263" height="455">
                           </div>
                       </div>
                       
                    </div>
                </div>
                
            
            </div>            
        </div>
    </div>
