
    <div class="c-catboxes bg-gray">
        <div class="o-wrap">
                
            <div class="o-header">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item splitting--right js-split" data-splitting>                    
                        <h5 class="o-lead o-lead--5">Co tu</h5>
                        <h3 class="o-lead o-lead--2">Wybierz temat</h3>          
                    </div>
                
                    <div class="o-cols__item">
                        <div class="o-article o-article--medium anim anim--up">
                            <p>Znajdziesz tu materiały dotyczące każdego etapu prowadzenia małego biznesu. Od jego planowania przez szukanie klientów aż po finanse i formalności.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="c-catboxes__items">
                <a href="category.html" class="c-catboxes__item anim anim--up">
                    <h4 class="o-lead o-lead--4">przygotowania i&nbsp;rozpoczynanie</h4>
                    
                    <footer class="c-catboxes__footer">
                        <span class="see">zobacz</span>
                        <span class="icon-sunrise"></span>
                    </footer>
                </a>
                
                <a href="category.html" class="c-catboxes__item anim anim--delay1 anim--up">
                    <h4 class="o-lead o-lead--4">Organizacja<br> pracy</h4>
                    
                    <footer class="c-catboxes__footer">
                        <span class="see">zobacz</span>
                        <span class="icon-watch"></span>
                    </footer>
                </a>
                
                <a href="category.html" class="c-catboxes__item anim anim--delay2 anim--up">
                    <h4 class="o-lead o-lead--4">Finanse<br> i formalności</h4>
                    
                    <footer class="c-catboxes__footer">
                        <span class="see">zobacz</span>
                        <span class="icon-briefcase"></span>
                    </footer>
                </a>
                
                <a href="category.html" class="c-catboxes__item anim anim--up">
                    <h4 class="o-lead o-lead--4">Zdobywanie klientów</h4>
                    
                    <footer class="c-catboxes__footer">
                        <span class="see">zobacz</span>
                        <span class="icon-user-check"></span>
                    </footer>
                </a>
                
                <a href="category.html" class="c-catboxes__item anim anim--delay1 anim--up">
                    <h4 class="o-lead o-lead--4">Tworzenie<br> produktów</h4>
                    
                    <footer class="c-catboxes__footer">
                        <span class="see">zobacz</span>
                        <span class="icon-box"></span>
                    </footer>
                </a>
                
                <a href="category.html" class="c-catboxes__item anim anim--delay2 anim--up">
                    <h4 class="o-lead o-lead--4">Rozwój<br> osobisty</h4>
                    
                    <footer class="c-catboxes__footer">
                        <span class="see">zobacz</span>
                        <span class="icon-smile"></span>
                    </footer>
                </a>
            </div>
            
        </div>
    </div>
