
    <div class="c-catboxes bg-gray">
        <div class="o-section">
            <div class="o-wrap">
                    
                <div class="o-header bottom--112">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item splitting--right js-split" data-splitting>                    
                            <h5 class="o-lead o-lead--5">Co tu</h5>
                            <h3 class="o-lead o-lead--2">Wybierz temat</h3>          
                        </div>
                    
                        <div class="o-cols__item">
                            <div class="o-article o-article--big">
                                <p>Znajdziesz tu materiały dotyczące każdego etapu prowadzenia małego biznesu. Od jego planowania przez szukanie klientów aż po finanse i formalności.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <% include catboxes/items %>
                
            </div>
        </div>
    </div>
