
    <div class="c-courses">
        <div class="o-wrap">
            <div class="o-section">

                <div class="o-header aligncenter bottom--160">
                    <div class="splitting--up js-split">                    
                        <h5 class="o-lead o-lead--5">Trochę wiedzy</h5>
                        <h3 class="o-lead o-lead--2">Kursy online</h3>          
                    </div>

                    <div class="o-article o-article--huge">
                        <p>Do tej pory stworzyłem dwa kursy on-line. Na temat podstaw projektowania graficznego oraz wyceny własnej pracy w branży kreatywnej. </p>
                    </div>
                </div>
                
                
                <div class="c-courses__items">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <div class="o-header">
                                <h5 class="o-lead o-lead--6">Kurs online</h5>
                                <h3 class="o-lead title">Wycenianie pracy</h3>
                            </div>
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="o-article">
                                <p>Wycenianie własnej pracy jest trudne. Każdy projekt jest inny, a&nbsp;klienci mają różne potrzeby. Jak zmaksymalizować swój zysk, ograniczyć koszty i przekonać klienta do wybrania naszej oferty?</p>
                            </div>
                            
                            <div class="o-more">
                                <a href="#" class="o-btn o-btn--yellow">Pokaż więcej</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <div class="o-header">
                                <h5 class="o-lead o-lead--6">Kurs online</h5>
                                <h3 class="o-lead title">Podstawy grafiki</h3>
                            </div>
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="o-article">
                                <p>Nie musisz być grafikiem żeby zacząć tworzyć materiały graficzne, które cieszą oko i są skuteczne. Poznaj darmowe programy i&nbsp;podstawowe zasady projektowania.</p>
                            </div>
                            
                            <div class="o-more">
                                <a href="#" class="o-btn o-btn--yellow">Pokaż więcej</a> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
