
    <div class="c-intro">
        <div class="o-wrap">
            
            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    
                    <h2 class="splitting--right js-split" data-splitting>Fajnie<br> na swoim</h2>

                    <div class="o-article anim anim--up">
                        
                        <p>Jestem Jacek i uważam, że własny mały biznes 
to najlepszy sposób na fajną pracę. Możesz nieźle zarabiać, robić ciekawe rzeczy i mieć masę swobody. Serio. Dojście do tego nie jest łatwe, ale ta strona powstała po to, żeby Ci w tym pomóc.</p>
                    </div>
                    
                    <a href="#" class="o-btn o-btn--yellow anim anim--delay2 anim--left">Pokaż więcej</a>
                    
                </div>
                
                <div class="o-cols__item anim anim--delay2 anim--right">
                    <img src=<%= require("./img/intro/jacek.jpg") %> alt="jacek kłosiński" width="728" height="744">
                </div>
            </div>
            
        </div>
    </div>
