
    <div class="c-join">
        <div class="o-wrap">
            <div class="o-section">
                
                <div class="o-header bottom--112">
                    <h5 class="o-lead o-lead--5">Razem raźniej</h5>
                    <h3 class="o-lead o-lead--2">buduj z nami<br> fajny mały<br> biznes</h3>          
                </div>
            
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h4 class="o-lead o-lead--3">YouTube</h4>
                            
                            <p>Dla tych, którzy wolą treści w&nbsp;formie video.</p>
                        </article>
                        
                        <a href="#" class="o-btn o-btn--yellow">Dołącz</a>
                    </div>
                    
                    <div class="o-cols__item anim">
                        <article class="o-article">
                            <h4 class="o-lead o-lead--3">Podcast</h4>
                            
                            <p>Jeśli lubisz słuchać w&nbsp;dowolnym momencie.</p>
                        </article>
                        
                        <a href="#" class="o-btn o-btn--yellow">Dołącz</a>
                    </div>
                    
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h4 class="o-lead o-lead--3">Instagram</h4>
                            
                            <p>Jeśli chcesz więcej materiałów zza kulis.</p>
                        </article>
                        
                        <a href="#" class="o-btn o-btn--yellow">Dołącz</a>
                    </div>
                    
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h4 class="o-lead o-lead--3">Facebook</h4>
                            
                            <p>Jeśli chcesz dołączyć do grupy i porozmawiać.</p>
                        </article>
                        
                        <a href="#" class="o-btn o-btn--yellow">Dołącz</a>
                    </div>
                </div>
                
            
            </div>            
        </div>
    </div>
