
    <div class="c-moreaboutme bg-gray">
        <div class="o-wrap">
            <div class="o-section">

                <div class="o-cols o-cols--2f">
                    <div class="o-cols__item">                    

                        <div class="o-header bottom--72 splitting--right js-split" data-splitting>
                            <h5 class="o-lead o-lead--6">więcej o mnie</h5>
                            <h3 class="o-lead title">poznajmy się, <br>zobacz kim jestem</h3>
                        </div>

                        <a href="about.html" class="o-btn o-btn--white anim anim--up">O mnie</a>
                    </div>


                    <div class="o-cols__item">
                       
                       <div class="c-moreaboutme__img anim anim--up">
                           <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/single/jacek.jpg") %> alt="" width="600" height="450">
                       </div>
                       
                    </div>
                </div>
                
            
            </div>            
        </div>
    </div>
