    
                <nav class="c-navfooter">
                    <ul>
                        <li>
                            <a href="index.html">Blog</a>
                        </li>
                        
                        <li>
                            <a href="about.html">O mnie</a>
                        </li>
                        
                        <li>
                            <a href="#">kursy</a>
                        </li>
                        
                        <li>
                            <a href="#">notesy</a>
                        </li>
                        
                        <li>
                            <a href="#">szkolenia</a>
                        </li>
                    </ul>
                </nav>
