    
                <nav class="c-navfooter">
                    <ul>
                        <li class="anim anim--up">
                            <a href="index.html">Blog</a>
                        </li>
                        
                        <li class="anim anim--delay1 anim--up">
                            <a href="about.html">O mnie</a>
                        </li>
                        
                        <li class="anim anim--delay2 anim--up">
                            <a href="#">kursy</a>
                        </li>
                        
                        <li class="anim anim--delay3 anim--up">
                            <a href="#">notesy</a>
                        </li>
                        
                        <li class="anim anim--delay4 anim--up">
                            <a href="#">szkolenia</a>
                        </li>
                    </ul>
                </nav>
