
    <div class="c-navmenu js-navmenu">
        <div class="c-navmenu__content js-navmenu_content">
            
            <h5 class="o-lead o-lead--6 title">Menu</h5>
            
            <ul class="c-navmenu__categories">
                <li>
                    <a href="#">rozpoczynanie</a>
                </li>
                
                <li>
                    <a href="#">organizacja pracy</a>
                </li>
    
                <li>
                    <a href="#">finanse i formalności</a>
                </li>
    
                <li>
                    <a href="#">zdobywanie klientów</a>
                </li>
    
                <li>
                    <a href="#">tworzenie produktów</a>
                </li>
    
                <li>
                    <a href="#">rozwój osobisty</a>
                </li>
            </ul>
            
            <ul class="c-navmenu__pages">
                <li>
                    <a href="about.html">O mnie</a>
                </li>
                
                <li>
                    <a href="#">książka „Metoda tęczówki”</a>
                </li>
                
                <li>
                    <a href="#">kursy online</a>
                </li>
                
                <li>
                    <a href="#">notesy i dzienniki</a>
                </li>
            </ul>
    
            <div class="c-navmenu__media">
    			<ul class="c-share__list">
        			<li>
                        <a href="#">
                            <i class="icon-align-center"></i>
                            <span>Teksty</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="icon-video"></i>
                            <span>Video</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="icon-headphones"></i>
                            <span>Podcast</span>
                        </a>
                    </li>        			
        		</ul>
    		</div>
    
            <div class="o-hamburger is-active js-close-navmenu">
                <span class="icon-close"></span>
            </div>
        </div>
    </div>

