
    <div class="c-newsletter bg-yellow">
        <div class="o-wrap">
            <div class="o-section">
                
                <div class="o-header">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item splitting--right js-split" data-splitting>                    
                            <h5 class="o-lead o-lead--5">Newsletter</h5>
                            <h3 class="o-lead o-lead--2">Dołącz do nas, są bonusy</h3>          
                        </div>
                    
                        <div class="o-cols__item">
                            <article class="o-article o-article--medium anim anim--up">
                                <p>Zapisz się do newslettera. Wyślę Ci pakiet darmowych materiałów, a raz w tygodniu maila z konkretnymi i praktycznymi radami pomagającymi budować fajny mały biznes.</p>
                            </article>
                        </div>
                    </div>
                </div>
            
                <div class="c-newsletter__form">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <label>Imię</label>
                            <input type="text">
                            
                            <label>Adres e-mail</label>
                            <input type="email">

                            <button type="submit" class="o-btn o-btn--black">Chcę bonusy</button>
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="c-newsletter__img">
                                <img src=<%= require("./img/photos/newsletter.jpg") %> alt="" width="576" height="384">
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>            
        </div>
    </div>
