
    <div class="c-nts bg-gray">
        <div class="o-wrap">
            <div class="o-section">

                <div class="o-cols o-cols--2f">
                    <div class="o-cols__item">                    

                        <div class="o-header splitting--right js-split" data-splitting>
                            <h5 class="o-lead o-lead--5">A może coś do pisania</h5>
                            <h3 class="o-lead title">Moja autorska marka notesów i dzienników</h3>
                        </div>

                        <a href="#" class="o-btn o-btn--white anim anim--up">Pokaż więcej</a>
                    </div>


                    <div class="o-cols__item">
                       
                       <div class="c-nts__img anim anim--up">
                           <img src=<%= require("./img/photos/nts.jpg") %> alt="" width="600" height="450">
                       </div>
                       
                    </div>
                </div>
                
            
            </div>            
        </div>
    </div>
