
    <div class="c-top js-top">
        <div class="o-wrap">
        
            <div class="o-hamburger js-open-navmenu">
                <i></i>
            </div>
            
            <a href="#" class="o-logo">
                <img src=<%= require("./img/assets/logo-klosinski.svg") %> alt="klosiński" width="188" height="29">
            </a>
            
            <div class="o-social">
                <ul>
                    <li>
                        <a href="#" class="icon-youtube"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-instagram"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-facebook"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
