
    <div class="c-topticker c-topticker--normal">
        <div class="c-topticker__inside" style="background-image: url(<%= require('./img/topticker/nts.jpg') %>);">
            
            <div class="c-topticker__content">
                
                <div class="c-topticker__copy">
                    <p>Dołącz do kursu o podstawach grafiki i&nbsp;zgarnij dodatkową lekcję. Tylko do wtorku!</p>
                    
                    <div class="c-topticker__cta">
                        <a href="#" class="o-btn o-btn--yellow">
                            <span>Sprawdź</a>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>


    <a href="http://klosinski.net" class="c-topticker c-topticker--floating js-topticker">
        <div class="c-topticker__inside" style="background-image: url(<%= require('./img/topticker/nts.jpg') %>);">
            
            <div class="c-topticker__logo">
	            <div class="o-hamburger js-open-navmenu">
	                <i></i>
	            </div>
                <img class="js-logo" data-href="/" src=<%= require("./img/assets/logo-klosinski--white.svg") %> alt="klosinski" width="103" height="16">
            </div>
            
            <div class="c-topticker__content">
                <div class="c-topticker__copy">
                    <p>„Metoda Tęczówki” – moja książka o tym, jak działać skutecznie</p>
                    
                    <div class="c-topticker__cta">
                        <span class="o-btn o-btn--yellow desktop">
                            <span>Sprawdź</span>
                        </span>
                    </div>
                </div>
            </div>  
        </div>
    </a>
