
    <div class="c-intro">
        <div class="o-wrap">
            
            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    
                    <h2 class="o-lead o-lead--1 splitting--right js-split">Fajnie<br> na swoim</h2>

                    <div class="o-article o-article--big">
                        
                        <p>Jestem Jacek i uważam, że własny mały biznes 
to najlepszy sposób na fajną pracę. Możesz nieźle zarabiać, robić ciekawe rzeczy i mieć masę swobody. Serio. Dojście do tego nie jest łatwe, ale ta strona powstała po to, żeby Ci w tym pomóc.</p>
                    </div>
                    
                    <div class="o-more">
                        <a href="#" class="o-btn o-btn--yellow">Pokaż więcej</a>
                    </div>
                </div>
                
                <div class="o-cols__item anim anim--delay2 anim--right">
                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/intro/jacek.jpg") %> alt="jacek kłosiński" width="728" height="744">
                </div>
            </div>
            
        </div>
    </div>
