
        <div class="c-who">
            <div class="o-section">
                <div class="o-wrap">
                    <div class="o-header aligncenter">                    
                        <h5 class="o-lead o-lead--5">Nie wiesz od czego zacząć?</h5>
                        <h3 class="o-lead o-lead--2">Poznajmy się</h3>          
                    </div>
        
                    <div class="o-article o-article--huge aligncenter">
                        <a href="about.html" class="o-btn o-btn--yellow">Kim jestem</a>
                    </div>
                </div>
            </div>
        </div>

