
                        <div class="o-filters js-filters">
                            <h5 class="o-lead o-lead--6">Filters</h5>
                            
                            <ul>
                                <li>
                                    <a href="#" class="is-active">
                                        <i class="icon-ellipse"></i>
                                        <span>Wszystko</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="icon-align-center"></i>
                                        <span>Tekst</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="icon-video"></i>
                                        <span>Video</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="icon-headphones"></i>
                                        <span>Podcast</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
