
        <div class="c-boxes__items">
            <a href="category.html" class="o-box anim anim--up">
                <h4 class="o-lead o-lead--4">przygotowania i&nbsp;rozpoczynanie</h4>
                
                <footer class="o-box__footer">
                    <span class="see">zobacz</span>
                    <span class="icon-sunrise"></span>
                </footer>
            </a>
            
            <a href="category.html" class="o-box anim anim--delay1 anim--up">
                <h4 class="o-lead o-lead--4">Organizacja<br> pracy</h4>
                
                <footer class="o-box__footer">
                    <span class="see">zobacz</span>
                    <span class="icon-watch"></span>
                </footer>
            </a>
            
            <a href="category.html" class="o-box anim anim--delay2 anim--up">
                <h4 class="o-lead o-lead--4">Finanse<br> i formalności</h4>
                
                <footer class="o-box__footer">
                    <span class="see">zobacz</span>
                    <span class="icon-briefcase"></span>
                </footer>
            </a>
            
            <a href="category.html" class="o-box anim anim--up">
                <h4 class="o-lead o-lead--4">Zdobywanie klientów</h4>
                
                <footer class="o-box__footer">
                    <span class="see">zobacz</span>
                    <span class="icon-user-check"></span>
                </footer>
            </a>
            
            <a href="category.html" class="o-box anim anim--delay1 anim--up">
                <h4 class="o-lead o-lead--4">Tworzenie<br> produktów</h4>
                
                <footer class="o-box__footer">
                    <span class="see">zobacz</span>
                    <span class="icon-box"></span>
                </footer>
            </a>
            
            <a href="category.html" class="o-box anim anim--delay2 anim--up">
                <h4 class="o-lead o-lead--4">Rozwój<br> osobisty</h4>
                
                <footer class="o-box__footer">
                    <span class="see">zobacz</span>
                    <span class="icon-smile"></span>
                </footer>
            </a>
        </div>
