body {
	@include antialias;
	line-height: 1.6;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $light;
	}
	color: $c-black-01;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	.is-loaded & {
        @extend %anim;
    }
	
	&:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

input {
    font-size: #{$base-font-size}px;
}


::selection {
	background-color: var(--primary-color);
	color: $c-black-01;
}

hr {
    @extend %rel;
    width: 100%;
    border: none;

    &.dot {
        height: 72px;
        margin-bottom: 72px;
        
        &:after {
            @extend %abs-pseudo;
            @extend %abs-xy;
            width: 8px; height: 8px;
            background-color: $c-primary;
            border-radius: 50%;
        }
    }

    &.line {
        height: 32px;
        background-color: $c-primary;
        margin-top: 112px;
        margin-bottom: 56px;
    }
}


u {
    text-decoration-color: var(--primary-color);
}


