.o-article {
    
    p {
        line-height: 1.6em;
    }
    
    &--huge {
        p {
            line-height: 45px;
            font-size: rem(30);
        }
    }
    
    &--big {
        p {
            line-height: 1.5em;
            font-size: rem(24);
        }
    }
    
    &--medium {
        p {
            line-height: 34px;
            font-size: rem(22);
        }
    }
}
