.o-box {
    @extend %flex;
    @extend %flex-column;
    @extend %flex-spacebetween;
    @extend %rel;
    width: 368px;
    background-color: white;
    overflow: hidden;
        
    &:before {
        @extend %abs-pseudo; z-index: -1;
        @extend %anim;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background-color: $c-black-01;
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
        
    &__footer {
        @extend %flex;
        @extend %flex-y;

        @media ( max-width: $smartphone_portrait + px ) {
        	display: block;
        }
        
        [class^="icon-"] { 
            margin: 0 0 0 auto;
            
            @media ( max-width: $smartphone_portrait + px ) {
                margin: 16px auto 0 auto;
            }
        }

        .see {
            @extend %lead;
            @extend %lead--6;
            
            &:before, &:after {
                
                letter-spacing: -2px;
                content: '——';
            }
            
            &:before {
                margin-right: 8px;
            }
            
            &:after {
                margin-left: 8px;
                
                @media ( min-width: $smartphone_portrait + 1px ) {
                	display: none;
                }
            }
        }
    }
}

a.o-box {
    &:hover {
        .desktop & {
            color: white;

            [class^="icon-"] {
                color: $c-black-01;
            }
            
            &:before {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}