.o-btn {
    @extend %anim;
    display: inline-flex;
    @extend %flex-xy;
    @extend %rel;
    height: 48px;
    white-space: nowrap;
    padding: 0 32px 0 32px;
    letter-spacing: .5px;
    border-radius: 24px;
    text-transform: uppercase;
    font: {
        family: $termina;
        size: rem(12);
        weight: $heavy;
    }
    color: $c-black-01;
    cursor: pointer;
   
    &--yellow {
        background-color: $c-primary;
    }    
    
    &--black {
        background-color: $c-black-01;
        color: white;
    }
    
    &--white {
        background-color: white;
        color: $c-black-01;
    }
}

a.o-btn,
button.o-btn {
//    .desktop & {
    
        &--yellow {
            
            .bg-black & {
                &:hover {
                    background-color: white;
                    color: $c-black-01;
                }
            }
            
            &:hover {
            	background-color: $c-black-01;
            	color: white;
            }
        }

        &--black {
            &:hover {
                background-color: white;
                color: $c-black-01;
            }
        }
}

button.o-btn {
    span {
        width: 100%;
	}
}
