.o-container {
    padding-top: 176px;


    @media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + 64px ) {
        //padding-top: base(176);
    }
    
    

    .home & {
        padding-top: 330px;
        
        @media ( max-width: $base + 64px ) {
            padding-top: base(330);
        }
        
        @media ( max-width: $smartphone + px ) {
        	padding-top: 130px;
        }
    }
}