.o-filters {

    [class^="icon-"] {
        @extend %anim;
        
        @media ( min-width: $smartphone + 1px ) {
            margin-right: 15px;
        }
    }

    li {
        a {
            @extend %flex-inline;
            @extend %flex-xy;
            height: 42px;
            border-radius: 21px;
            padding: 0 32px 0 8px;
            margin: 0 0 8px -8px;
            
            @media ( max-width: $smartphone + px ) {
                padding: 0 8px;
            }
            
            span {
                @extend %lead;
                @extend %lead--5;
                font-weight: $heavy;
                
                @media ( max-width: $smartphone + px ) {
                    display: none;
                }
            }
            
            &:hover,
            &.is-active {
                background-color: $c-primary;
                
                [class^="icon-"] {
                    background-color: transparent;
                }
            }
        }            
    }
    
    .o-lead {
        &--6 {
            @media ( max-width: $smartphone + px ) {
                opacity: 0;
            }
        }
    }
}
