.o-loadmore {
    @extend %flex;
    @extend %flex-column;
    transform: translateY(-36px);

    [class^="icon-"] {
        @extend %anim;
        width: 72px; height: 72px;
        background-color: $c-primary;
        margin: 0 auto 38px auto;
        color: $c-gray-02;
        
        @media ( max-width: $smartphone + px ) {
            margin-bottom: 22px;
        }
    }
    
    span {
        @extend %lead;
        font-size: rem(16);
        color: white;
        
        @media ( max-width: $smartphone + px ) {
            font-size: rem(14);
        }
    }
    
    &:hover {
        [class^="icon-"] {
            background-color: $c-black-01;
            color: white;
        }
    }
}
