.o-results {

    dl {
        @extend %flex;
    }
    
    dt {
        @extend %flex;
        width: 200px;
        
        [class^="icon-"] {
            
            margin-right: 8px;
        }
    }
    
    dd {
        width: 570px;
    }
    
    &__item {
        display: block;
        margin-bottom: 144px;
        margin-bottom: 72px;
        padding-bottom: 72px;
        
        
        &:not(:last-of-type) {
            border-bottom: 1px solid $c-gray-01;
        }
    }
    
    .o-lead {
        a {
            &:hover {
                .desktop & {
                    text-decoration: underline;
                }
            }
        }
    }
}
