
    <div class="c-community">
        <div class="o-section">
            
                           
            <div class="o-header">
                <div class="o-wrap"> 
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item splitting--right js-split" data-splitting>                    
                            <h5 class="o-lead o-lead--5">Dołącz do nas</h5>
                            <h3 class="o-lead o-lead--2">Społeczność</h3>          
                        </div>
                    
                        <div class="o-cols__item">
                            <div class="o-article o-article--big anim anim--up">
                                <p>Materiały, które tworzymy pomogły już tysiącom osób. W jaki sposób? Zobacz kilka przykładów.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        
        
            <div class="main-carousel anim anim--up" id="community">
                    
                <% include carousel-cell %>
                <% include carousel-cell %>
                <% include carousel-cell %>
                    
            </div>                
        </div>
    </div>
