
    <div class="c-afterintro">
        <div class="o-wrap">  
            
            <div class="c-post c-post--1">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        
                        
                        <div class="o-article o-article--medium">
                            <p>Mam to szczęście, że szybko zrozumiałem, że jest inna droga. </p>

                            <p>Kiedy byłem jeszcze nastolatkiem, przypadkiem trafiłem na kurs tworzenia stron internetowych i zacząłem całymi dniami budować różne serwisy. O książkach, zespołach, grach. Sam wszystko projektowałem, sam kodowałem, sam pisałem teksty.</p>

                            <p>Robiłem to dla czystej zabawy, dopóki pewnego dnia nie zadzwoniła do mnie znajoma. Zapytała mnie czy nie chciałbym zrobić strony internetowej dla firmy jej taty i&nbsp;trochę na tym zarobić.</p>

                            <p>Dla mnie było to spełnienie marzeń – ktoś chciał mi zapłacić niezłe pieniądze za coś, co uwielbiałem robić.</p>
                        </div>

                    </div>
    
                    <div class="o-cols__item"></div>
                </div>
            </div>
            
            
            
            <div class="c-post">
                <div class="o-article o-article--medium">
                    
                    <hr class="dot">
                    
                    <blockquote>
                        <p>To pewnie zabrzmi patetycznie, ale ten jeden telefon od koleżanki zmienił moje życie. Już w liceum zrozumiałem, że praca może być przyjemna, dawać fajne pieniądze, dużo swobody i satysfakcji.</p>
                    </blockquote>
                    
                    <hr class="dot">
                    
                    <img class="b-lazy alignleft" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-2.jpg") %> alt="" width="388" height="410">
                        
                    <p>Od tamtego momentu, aż do dziś, nigdy nie pracowałem na etacie. Skończyłem studia z zarządzania, byłem freelancerem, potem współwłaścicielem studia graficznego, a od 2016 roku skupiam się na rozwoju tego bloga.</p>

                    <p>Przez te 15 lat nauczyłem się bardzo wiele, ale tę jedną, najważniejszą rzecz zrozumiałem już na samym początku. Jaką?</p>


                    <hr class="dot">
                    
                    <blockquote>
                        <p>Przekonałem się, że jeśli będę mądrze rozwijać własny mały biznes, mogę być niezależny, nieźle zarabiać i robić ciekawe rzeczy.</p>
                    </blockquote>
                    
                    <hr class="dot">
                    
                    <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-3.jpg") %> alt="" width="491" height="389">
                    
                    <p>Mały biznes stał się moim sposobem na fajną pracę, ale nie zrozum mnie źle. Nie chcę powiedzieć, że to łatwe. Budowanie marki, zdobywanie klientów, tworzenie produktów, promocja, formalności, czy finanse to tylko początek listy spraw, które trzeba ogarnąć.  </p>

                    <p>Ale tego wszystkiego spokojnie da się nauczyć i właśnie w&nbsp;tym ma pomóc Ci ta strona.</p>

                    <p>Własna firma nie musi oznaczać stresu, niepewności i&nbsp;pustego konta. Są dosłownie setki sposobów na dopasowanie jej do siebie i swoich potrzeb. Nie trzeba przy tym stawać na głowie i pracować po godzinach. Serio.</p>
                    
                    <hr class="dot">
                    
                    <blockquote>
                        <p>Jeśli chcesz założyć mały biznes lub lepiej rozwijać ten, który już masz i zastanawiasz się co mogę dla Ciebie zrobić, chętnie Ci o wszystkim zaraz opowiem. Pozwól tylko, że najpierw przedstawię Ci kogoś ważnego.</p>
                    </blockquote>
                    
                    <hr class="dot">
                    
                    
                </div>
            </div>
            
        </div>
    </div>
    