
    <div class="c-product">
        <div class="o-section">
            
            <div class="o-wrap"> 
                <div class="o-cols o-cols--2">                    
                    <div class="o-cols__item">
                        <div class="c-product__image">
                            <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/conferences.jpg") %> alt="" width="519" height="417">
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-header splitting--right js-split">
                            <h5 class="o-lead o-lead--6">Na scenie</h5>
                            <h3 class="o-lead o-lead--2">Konferencje</h3>
                        </div>
                        
                        <div class="o-article">
                            <p>Lubię występować na scenie, a czasami zdarza mi się nawet dostać za to nagrody. Byłem prelegentem m.in. na I Love Marketing, Infoshare, Blog Forum Gdańsk, czy Element Talks.</p>
                        </div>
                    </div>
                </div>
            </div>                       
        </div>
    </div>
