
        <div class="c-help">
            <div class="o-wrap">
                <div class="o-header bottom--160 aligncenter">
                    <div class="splitting--up js-split">                     
                        <h5 class="o-lead o-lead--5">Jak możemy pomóc</h5>
                        <h3 class="o-lead o-lead--2">Co robimy</h3> 
                    </div>
                    
                    <div class="o-article o-article--huge">
                        <p>Ta strona to tylko punkt wyjścia dla wielu projektów. Oprócz darmowych poradników, tworzymy też kursy online, szkolenia, wydajemy książki i występujemy na konferencjach. Mamy też własną markę notesów.</p>
                    </div>         
                </div>
            </div>
        </div>

