
        <div class="c-important">
            <div class="o-wrap">
                <div class="o-header bottom--160 aligncenter">
                    <div class="splitting--up js-split">                     
                        <h5 class="o-lead o-lead--5">Czy jest Ci z nami po drodze</h5>
                        <h4 class="o-lead o-lead--2">Co jest dla nas ważne</h4> 
                    </div>
                    
                    <div class="o-article o-article--huge">
                        <p>Nie jesteśmy wyjątkowi i nie znamy tajemniczych sposobów na szybki sukces. Daleko nam też do „kołczów” i nie&nbsp;chcemy mówić Ci jak masz żyć. </p>
                    </div>         
                </div>
                
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-martyna.jpg") %> alt="jacek-martyna" width="386" height="409">
                        <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-4.jpg") %> alt="jacek">
                    </div>

                    <div class="o-cols__item">
                        <div class="c-post">
                            <div class="o-article">
                                <p>Po prostu pokazujemy doświadczenia i&nbsp;subiektywną perspektywę pary, która znalazła we własnym małym biznesie sposób na fajną pracę i wygodne życie. Zobacz co jest dla nas ważne i sprawdź, czy jest Ci z tym po drodze.</p>
                                
                                <h4>Małe jest piękne</h4>
                                
                                <p>Naszym zdaniem rozwój i wzrost nie zawsze są dobre. Świadomie zdecydowaliśmy, że nasz biznes będzie mały 
i elastyczny. Nie chcemy mieć wielkiego biura i dziesiątek pracowników. Nie pomożemy Ci stworzyć korporacji.</p>

                                <h4>liczą się KONKRETY</h4>
                                
                                <p>Mamy uczulenie na lanie wody i przerost formy nad treścią. Stawiamy przede wszystkim na jakość i konkretną wartość. Na świecie jest wystarczająco dużo badziewia i&nbsp;my nie chcę się do tego dokładać.</p>
                                
                                <h4>WYGODne Życie</h4>
                                
                                <p>Biznes powinien pracować dla nas, a nie my dla biznesu. Prowadzenie firmy jest dla nas sposobem na wygodne życie. Jasne, chcemy dobrze zarabiać i realizować ambicje, ale nie chcemy stawać na głowie, żeby to osiągnąć.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <hr class="dot">
            </div>
        </div>

