
        <div class="c-martyna bottom--160">
            
            <div class="c-martyna__photo">
                <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/martyna.jpg") %> alt="martyna" width="600" height="600">
            </div>
            
            <div class="o-section bg-gray">
                        
                <div class="o-header bottom--72 aligncenter">
                    <div class="splitting--up js-split">                     
                        <h4 class="o-lead o-lead--2">Cześć</h4> 
                    </div>
                    
                    <div class="o-article o-article--huge">
                        <p>Jestem Martyna. Wspieram Jacka w różnych tematach organizacyjnych związanych z&nbsp;blogiem. Do mnie należą terminy, ogranizacja i&nbsp;rozwijanie produktów. </p>
                    </div>         
                </div>
                
                <div class="c-post c-post--narrow2  bottom--72">
                    <div class="o-article o-article--medium">
                        <p>Mamy też inne wspólne projekty – małżeński i rodzicielski. ;)</p>

                        <p>Ale skąd decyzja, żeby razem prowadzić też firmę? Wyszło dość naturalnie, bo zawsze byłam blisko tego co robi Jacek, ale też biznesu on-line ogólnie.</p>

                        <p>Jako account director, tworzyłam strategie marketingowe i&nbsp;odpowiadałam za relacje z klientami w największej trójmiejskiej agencji reklamowej. To była dobra i rozwijająca praca. Ale po 8 latach poczułam się wypalona i musiałam coś zmienić. Zaczęłam szukać nowego zajęcia i odbiłam się od ściany. </p>

                        <p>Wiedziałam, że nie wpiszę się w korporacyjne ramy i tabele, a&nbsp;innych ciekawych wyzwań dla mnie nie było. Szybko zaczęłam myśleć o czymś własnym. </p>

                        <p>Jednocześnie blog Jacka i tematy wokół niego szybko się rozwijały. I tak zaczęliśmy działać razem. Dzisiaj nie wyobrażam sobie powrotu na etat. Wreszcie mam wolność i&nbsp;szansę robienia rzeczy tak, jak chcę.</p>
                    </div>
                </div>
                
                <div class="c-martyna__contact ">
                    <h4 class="o-lead o-lead--3 aligncenter">na co dzień znajdziesz<br> mnie też tutaj:</h4>
                    
                    <div class="o-social">
                        <ul>
                            <li>
                                <a href="#" class="icon-linkedin"></a>
                            </li>
    
                            <li>
                                <a href="#" class="icon-instagram"></a>
                            </li>
                        </ul>                            
                    </div>
                </div>           
            </div>
        </div>
