
    <div class="c-numbers bg-gray">
        <div class="o-section">
            <div class="o-wrap">
                    
                <div class="o-header bottom--72 aligncenter">                    
                    <h5 class="o-lead o-lead--5">Statystyki</h5>
                    <h3 class="o-lead o-lead--2">Kilka liczb</h3>          
                </div>
                
                <div class="c-boxes">
                    <div class="c-boxes__items">
                        <div class="o-box anim anim--up">
                            
                            <div class="o-header">
                                <h4 class="o-lead o-lead--4 ">50000+</h4>
                                <p>osób czyta bloga każdego miesiąca</p>
                            </div>
                            
                            <footer class="o-box__footer">
                                <span class="icon-users"></span>
                            </footer>
                        </div>
                        
                        <div class="o-box anim anim--up">
                            
                            <div class="o-header">
                                <h4 class="o-lead o-lead--4">1200+</h4>
                                <p>tylu uczestników zebrały do tej pory nasze kursy online</p>
                            </div>
                            
                            <footer class="o-box__footer">
                                <span class="icon-book-open"></span>
                            </footer>
                        </div>
                        
                        <div class="o-box anim anim--up">
                            
                            <div class="o-header">
                                <h4 class="o-lead o-lead--4">15+</h4>
                                <p>od tylu lat pracuję jako przedsiębiorca</p>
                            </div>
                            
                            <footer class="o-box__footer">
                                <span class="icon-briefcase"></span>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
