
    <div class="c-product">
        <div class="o-section">            
            <div class="o-wrap"> 
            
                <div class="o-cols o-cols--2">                    
                    <div class="o-cols__item">
                        <div class="c-product__image">
                            <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/product.jpg") %> alt="" width="519" height="415">
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-header">
                            <div class="splitting--right js-split">                    
                                <h5 class="o-lead o-lead--6">A inne książki?</h5>
                                <h3 class="o-lead o-lead--2">Narodziny marki</h3>       
                            </div>
                        </div>
                        
                        <div class="o-article">
                            <p>W 2018 roku przygotowałem też krótką książkę o podstawach budowania marki. Nakład 1000 sztuk rozszedł się w trzy dni, 
a cały zysk przekazałem na cele charytatywne.</p>
                        </div>
                        
                        <div class="o-more">
                            <a href="#" class="o-btn o-btn--yellow">Pokaż więcej</a>
                        </div>
                    </div>
                </div>
            </div>
        
               
        </div>
    </div>
