

        <div class="o-wrap">
            <div class="o-header aligncenter">
                <div class="splitting--up js-split">      
                    <h5 class="o-lead o-lead--5">rozpoczynanie, produkty</h5>              
                    <h3 class="o-lead o-lead--2">Jak znaleźć i ocenić pomysł na biznes</h3>          
                </div>

                <div class="o-article o-article--huge">
                    <p>Szukasz pomysłu na biznes? A może chcesz zweryfikować te, które już masz? W tym wpisie podpowiadam jak znaleźć i ocenić różne biznesowe kierunki.</p>
                </div>
            </div>                
        </div>
