
    <div class="c-product">
        <div class="o-section">
            <div class="o-wrap"> 

                <div class="o-cols o-cols--2">                    
                    <div class="o-cols__item">
                        <div class="c-product__image">
                            <img class="b-lazy alignright" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/training.jpg") %> alt="" width="519" height="425">
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-header">
                            <div class="splitting--right js-split">                    
                                <h5 class="o-lead o-lead--6">Przy rzutniku</h5>
                                <h3 class="o-lead o-lead--2">Szkolenia</h3>       
                            </div>
                        </div>

                        <div class="o-article">
                            <p>Przez wiele lat zajmowałem się projektowaniem graficznym 
i teraz uczę tego innych. Szkoliłem w tym zakresie największe polskie i zagraniczne marki.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

