
        <div class="c-comments">
            <div class="o-section">
                <div class="o-wrap">
                    <div class="o-header bottom--72 aligncenter">
                        <div class="splitting--up js-split" data-splitting>                     
                            <h5 class="o-lead o-lead--5">co o tym myślisz?</h5>
                            <h3 class="o-lead o-lead--2">komentarze</h3> 
                        </div>                           
                    </div>
    
                    <div class="c-comments__content">
                        <img src=<%= require("./img/single/comments.jpg") %> alt="comments" width="865" height="644">
                    </div>
                    
                </div>
            </div>
        </div>
    
