.c-boxes {
    
    
    
    &__items {
        @extend %flex;
        @extend %flex-wrap;
        width: calc(100% + 32px);
        margin: 0 -16px -32px -16px;
        
        [class^="icon-"] {
            @extend %flex;
            @extend %flex-xy;
            width: 56px; height: 56px;
            background-color: $c-primary;
            border-radius: 50%;
            font-size: rem(20);
            color: $c-black-01;
        }
    }
}
