.c-catboxes {
    overflow: auto;
    
    .home & {
        padding-top: 112px;
    }
    
    [class^="icon-"] {
        @extend %flex;
        @extend %flex-xy;
        width: 56px; height: 56px;
        background-color: $c-primary;
        border-radius: 50%;
        font-size: rem(26);
        color: $c-black-01;
    }
    
    &__footer {
        @extend %flex;
        @extend %flex-spacebetween;
        @extend %flex-y;

        .see {
            @extend %lead;
            @extend %lead--6;
            
            &:before {
                margin-right: 8px;
                letter-spacing: -2px;
                content: '——';
            }
        }
    }
    
    &__items {
        @extend %flex;
        @extend %flex-wrap;
        width: calc(100% + 32px);
        margin: 0 -16px -32px -16px;
    }
    
    &__item {
        @extend %flex;
        @extend %flex-column;
        @extend %flex-spacebetween;
        @extend %rel;
        width: 368px;
        background-color: white;
        min-height: 272px;
        padding: 36px 32px 32px 32px;
        margin: 0 16px 32px 16px;
        overflow: hidden;
        
        &:before {
            @extend %abs-pseudo; z-index: -1;
            @extend %anim;
            left: 0; top: 0;
            width: 100%; height: 100%;
            background-color: $c-black-01;
            transform: translate3d(0, 100%, 0);
            opacity: 0;
        }
        
        &:hover {
            .desktop & {
                color: white;

                [class^="icon-"] {
                    color: $c-black-01;
                }
                
                &:before {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    
    .o-header {
        margin-bottom: 112px;
    }
}