.c-cattop {
    &__image {
        margin-bottom: 112px;

        img {
            margin: 0 auto;
        }
    }
    
    .o-header {
        margin-bottom: 0;
    }
    
    .o-section {
        padding-top: 270px;
    }
}