.c-content {
    
    [class^="icon-"] {
        @extend %flex;
        @extend %flex-xy;
        border-radius: 50%;
    }
    
    &__more {
        transition-duration: .3s !important;
        display: block;
        height: 160px;
        background-color: $c-black-01;
        text-align: center;
        
        &:hover {
            background-color: $c-primary;
            
            .o-loadmore {
                .icon-plus {
                    background-color: $c-black-01;
                    color: white;
                }
                
                span {
                    color: $c-black-01;
                }
            }
        }
    }    

    .o-cols {
        @extend %media-icons;
    }
    
    .o-lead {
        &--6 {
            @extend %lead--6;
        }
        
        &--6,
        &--3 {
            margin-bottom: 48px;
            
        }

    }
    
    .o-loadmore {
        span {
            font-size: rem(16);
        }
    }
    
    .o-section {
        padding-bottom: 80px;
    }
}


