.c-courses {    
    &__items {
        .o-cols {
            
            &:first-of-type {
                border-top: 1px solid $c-gray-01;
            }
            
            &:not(:last-of-type) {
                border-bottom: 1px solid $c-gray-01;
            }
        }
    }
    
    .o-article {
        margin: 48px 0;
    }
    
    .o-cols {
       // margin: 48px 0 96px 0;
        padding: 72px 0;
    }
    
    .o-header {
        //margin-bottom: 232px;
    }

    .o-lead {
        &--6 {
            margin-bottom: 32px;
        }
    }

    .title {
        line-height: 1.1em;
        font-size: rem(26);
    }
}


