.c-nts {
    
    &__img {
        margin-bottom: -160px;
        @media ( min-width: $smartphone + 1px ) {
            margin-bottom: -112px;
        }
        
    }
    
    .o-cols {
        @media ( max-width: $smartphone + px ) {
        	display: block;
        }
    }
    
    .o-header {
        margin-bottom: 48px;
    }
    
    .o-more {
        margin-bottom: 48px;
        
        @media ( max-width: $smartphone + px ) {
            margin-bottom: 72px;
        }
    }
    
    .o-section {
        margin-bottom: 160px;
        
        @media ( min-width: $smartphone + 1px ) {
            padding: 112px 0 0 0;
        }
        
        @media ( max-width: $smartphone + px ) {
        	margin-bottom: 112px;
        }
    }
    
    .title {
        line-height: 28px;
        font-size: rem(26);
    }
}