.c-nts {
    
    &__img {
        margin-bottom: -112px;
    }
    
    .o-header {
        margin-bottom: 48px;
    }
    
    .o-section {
        margin-bottom: 160px;
        padding: 112px 0 0 0;
    }
    
    .title {
        line-height: 28px;
        font-size: rem(26);
    }
}