.c-popular {
    overflow: auto;
    
    &__box {
        background-color: white;
        border-radius: 5px;
        
        &:not(:last-of-type) {
            margin-bottom: 32px;
            
            @media ( max-width: $small + px ) {
                margin-bottom: 18px;
            }
        }
        
        &.is-active {
            .icon-arrow-right {
                background-color: black;
                padding-bottom: 2px;
                padding-left: 0;
                transform: rotate(90deg);                
                color: white;
            }
            
            .o-list {
                @extend %anim;
                display: block;
                opacity: 0;
            }
        }
        
        &.fade-in {
            .o-list {
                opacity: 1;
                pointer-events: auto;
                transform: scale(1) translateY(0);
            }
        }
    }
    
    .o-cols {
        @media ( max-width: $tablet_portrait + px ) {
        	display: block;
        }
        
        &__item {
            &:first-of-type,
            &:last-of-type {
                
                @media ( max-width: $tablet_portrait + px ) {
                    width: 100%;
                }
            }
            
            &:first-of-type {
                
                @media ( min-width: $tablet_portrait + 1px ) {
                    padding-right: grid(100);
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                    margin-bottom: 72px;
                    text-align: center;
                }
            }
        }
    }    
    
    .o-lead {
        &--2 {
            @extend %rel;
            margin-bottom: 32px;
            line-height: 1.1em;
            font-size: rem(26);
        }
    }
    
    .o-list {
        display: none;
        margin-bottom: 22px;
        padding: 32px 40px 20px 40px;        
        overflow: hidden;
        pointer-events: none;
        
        @media ( max-width: $smartphone_portrait + px ) {
        	padding: 24px;
        }

        li {
            margin-bottom: 22px;
        }
    }
    
    .o-title {
        @extend %flex;
        @extend %flex-spacebetween;
        @extend %flex-y;
        padding: 28px 40px;
        border-bottom: 1px solid $c-gray-01;
        cursor: pointer;
        
        @media ( max-width: $smartphone_portrait + px ) {
        	padding: 24px;
        }
        
        .o-lead {
            &--5 {
                font-weight: $heavy;
            }
        }
        
        .icon-arrow-right {
            @extend %anim;
            @extend %flex;
            @extend %flex-xy;
            width: 56px; height: 56px;
            background-color: $c-primary;
            border-radius: 50%;
            padding-left: 2px;
            font-size: rem(18);
            flex-shrink: 0;
            color: black;
        }
        
        &:hover {
            .desktop & {
                .icon-arrow-right {
                    background-color: black;
                    color: white;
                }
            }
        }

    }
}


