.c-post {
    @extend %clear;
        
    &--narrow {
        max-width: 710px;
        margin: 0 auto;
    }
    
    &--narrow2 {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .o-article {

        h2 {
            @extend %lead;
//            margin-bottom: 112px;
            margin-bottom: 2.8em;
            line-height: 1.1em;
            font: {
                size: rem(40);
                weight: $heavy;
            }
            
            @media ( max-width: $base + 64px ) {
            	font-size: base(40);
            }
            
            @media ( max-width: $tablet + px ) {
                font-size: rem(33);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                font-size: tablet_portrait(33);
            }
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(28);
            }
        }
        
        h3 {
            @extend %lead;
            margin-top: 2em;
            margin-bottom: 1em;
//            line-height: 32px;
            line-height: 1.1em;
            font: {
                size: rem(30);
                weight: $heavy;
            }
            
            @media ( max-width: $base + 64px ) {
            	font-size: base(30);
            }
            
            @media ( max-width: $tablet + px ) {
                font-size: rem(25);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                font-size: tablet_portrait(25);
            }
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(21);
            }
        }
        
        h4 {
            @extend %lead;
            @extend %lead--3;   // 22px
            margin-bottom: 1.8em;
            margin-top: 1.8em;
        }
        
        h5 {
            @extend %lead;
            margin-bottom: 32px;
            line-height: 28px;
            font-size: rem(16);
        }
        
        h6 {
            @extend %lead;
            margin-bottom: 20px;
            margin-top: 54px;
        }

        blockquote {
            @extend %rel;
            width: 100vw;
            left: 50%;
            right: 50%;
            margin: 0 -50vw;
            text-align: center;
    
            p {
                max-width: 894px;
                margin: 0 auto;
                padding: {
                    left: 32px;
                    right: 32px;
                }
                font-size: rem(30);
                
                @media ( max-width: $base + 64px ) {
                    font-size: base(30);
                }
                
                @media ( max-width: $tablet + px ) {
                    font-size: rem(24);
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                    font-size: tablet_portrait(24);
                }
                
                @media ( max-width: $smartphone + px ) {
                    padding: 0 15px;
                    font-size: rem(22);
                }
                
                @media ( max-width: $small + px ) {
                    
                }
            }
        }        
                
        img {
            margin: 0 auto 48px auto;
            
            &.alignleft {
                
                @media ( min-width: $smartphone + 1px ) {
                    float: left;
                	margin: 0 grid(114) 48px grid(103);
                }
            }
            
            &.alignright {
                
                @media ( min-width: $smartphone + 1px ) {
                    float: right;
                    margin: 0 0 48px 103px;
                }
            }
        }
        
        p {
            margin-bottom: 1.2em;
            
            a {
                &:not(.o-btn) {
                    background-color: rgba($c-yellow, .2);
                    border-bottom: 1px solid rgba($c-black-01, .3);
                    
                    &:hover {
                        .desktop & {
                            background-color: $c-yellow-02;
                            border-bottom-color: $c-black-01;
                        }
                    }
                }
            }
        }
        
        strong {
            @extend %lead;
            font-weight: $heavy;
        }
        
        .o-list {
            li {
                @extend %rel;
                
                a {
                    //background-color: transparent !important;
                    //border-bottom: 1px solid $c-gray-01 !important;
                }
            }            
        }
        
        .highlight {
            margin: 72px 0;
            padding: 40px;
            
            @media ( max-width: $smartphone_portrait + px ) {
                margin: 48px 0;
            	padding: 32px;
            }
            
            &--fill {
                background-color: $c-gray-01;
            }
            
            &--frame {
                border: 1px solid $c-gray-01;
            }
            
            p {
                font-size: rem(20);
                line-height: 1.5em;

                @media ( max-width: $smartphone_portrait + px ) {
                    font-size: rem(18);
                }
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            
            & + .highlight {
                margin-top: -42px;
            }
        }
        
        .wp-block-image {
            margin: 112px 0;
            
            @media ( max-width: $smartphone + px ) {
            	margin: 48px 0;
            }
        }
    }
}
