.c-products {
    
    @media ( max-width: $small + px ) {
        margin-bottom: 72px;
    }
    
    .c-product {
            
        .o-cols {
            border-bottom: 1px solid $c-gray-01;
            padding-bottom: 112px;
            
            @media ( max-width: $tablet + px ) {
            	padding-bottom: 48px;
            }

        }
        
        .o-section {
            padding-bottom: 0;
        }
        
        &:last-of-type {
            .o-section {
                padding-top: 112px;
                
                @media ( max-width: $tablet + px ) {
                	padding-top: 72px;
                }
                
                @media ( max-width: $smartphone_portrait + px ) {
                	padding-top: 48px;
                }
            }
        }
    }
}