.c-product {
   
   .o-article {
       margin-bottom: 72px;
   }
   
   .o-cols {
        &__item {
            &:last-of-type {
                padding-left: 0;
            }
        }
    }
    
   .o-lead {
        &--2 {
            line-height: 1.1em;
            font-size: rem(26);
        }
   }
}