
    <div class="c-popular bg-gray js-popular">
        <div class="o-section">
            <div class="o-wrap">
                    
                <div class="o-cols o-cols--sidebar">
                    <div class="o-cols__item">                    
                        <div class="splitting--right js-split" data-splitting>
                            <h3 class="o-lead o-lead--2">Popularne materiały</h3>
                        </div>
                        
                        <div class="o-article o-article--big">
                            <p>Obok znajdziesz listę popularnych materiałów z&nbsp;tej kategorii, podzielonych na kilka grup.</p>
                        </div>
                    </div>                        
                
                    <div class="o-cols__item">
                        
                        <div class="c-popular__box js-box">
                            <header class="o-title js-title">
                                <h5 class="o-lead o-lead--5">Zakładanie firmy</h5>
                                <i class="icon-arrow-right"></i>
                            </header>
                            
                            <ul class="c-popular__list">
                                <li>
                                    <a href="#">Jak znaleźć i ocenić pomysł na biznes</a>
                                </li>
                                
                                <li>
                                    <a href="#">Kiedy trzeba założyć działalność gospodarczą</a>
                                </li>
                                
                                <li>
                                    <a href="#">Jak dobrze zacząć nowy projekt</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="c-popular__box js-box">
                            <header class="o-title js-title">
                                <h5 class="o-lead o-lead--5">Budowanie marki</h5>
                                <i class="icon-arrow-right"></i>
                            </header>
                            
                            <ul class="c-popular__list">
                                <li>
                                    <a href="#">Jak znaleźć i ocenić pomysł na biznes</a>
                                </li>
                                
                                <li>
                                    <a href="#">Kiedy trzeba założyć działalność gospodarczą</a>
                                </li>
                                
                                <li>
                                    <a href="#">Jak dobrze zacząć nowy projekt</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="c-popular__box js-box">
                            <header class="o-title js-title">
                                <h5 class="o-lead o-lead--5">Pierwsze miesiące</h5>
                                <i class="icon-arrow-right"></i>
                            </header>
                            
                            <ul class="c-popular__list js-more">
                                <li>
                                    <a href="#">Jak znaleźć i ocenić pomysł na biznes</a>
                                </li>
                                
                                <li>
                                    <a href="#">Kiedy trzeba założyć działalność gospodarczą</a>
                                </li>
                                
                                <li>
                                    <a href="#">Jak dobrze zacząć nowy projekt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
