<% include ./src/includes/head %>
<body class="page-about">

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

<div class="o-container">    
    
    <div class="overflow--hidden">
    
        <% include ./src/includes/@about/intro %>
        <% include ./src/includes/@about/afterintro %>
        <% include ./src/includes/@about/martyna %>
        
        <% include ./src/includes/@about/important %>
        <% include ./src/includes/@about/help %>        
        <% include ./src/includes/book %>
        <% include ./src/includes/@about/product %>
        <% include ./src/includes/courses %>
        <% include ./src/includes/nts %>
        <% include ./src/includes/@about/products %>
        <% include ./src/includes/@about/clients %>
        <% include ./src/includes/@about/numbers %>
        <% include ./src/includes/@about/together %>
        <% include ./src/includes/community/community %>
        <% include ./src/includes/newsletter %>
        <% include ./src/includes/join %>
        <% include ./src/includes/catboxes %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/navmenu %>
        <% include ./src/includes/apla %>
    </div>
    

</div>

</body>
</html>


