<% include ./src/includes/head %>
<body>

<% include ./src/includes/cover %>

<div class="o-container">    
    
    <% include ./src/includes/@categories/content %>
    <% include ./src/includes/@categories/product %>
    <% include ./src/includes/@categories/catboxes %>
    <% include ./src/includes/footer %>
    <% include ./src/includes/navmenu %>
    <% include ./src/includes/apla %>

</div>

</body>
</html>


