<% include ./src/includes/head %>
<body class="category">

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

<div class="o-container">    
    
    <% include ./src/includes/@category/top %>
    <% include ./src/includes/@category/popular %>
    <% include ./src/includes/@category/content %>
    <% include ./src/includes/@category/product %>
    <% include ./src/includes/catboxes-other %>
    <% include ./src/includes/footer %>
    <% include ./src/includes/navmenu %>
    <% include ./src/includes/apla %>

</div>

</body>
</html>


