<% include ./src/includes/head %>
<body class="home">

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

<div class="o-container">    
    
    <% include ./src/includes/@home/intro %>
    <% include ./src/includes/@home/catboxes %>
    <% include ./src/includes/@home/content %>
    <% include ./src/includes/community/community %>
    <% include ./src/includes/newsletter %>
    <% include ./src/includes/join %>
    <% include ./src/includes/book %>
    <% include ./src/includes/courses %>
    <% include ./src/includes/nts %>
    <% include ./src/includes/who %>
    <% include ./src/includes/footer %>
    <% include ./src/includes/navmenu %>
    <% include ./src/includes/apla %>

</div>

</body>
</html>


