<% include ./src/includes/head %>
<body class="home">

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>
    <% include ./src/includes/topticker %>

<div class="o-container">    
    
    <div class="overflow--hidden">
     
    <% include ./src/includes/@home/intro %>
    <% include ./src/includes/catboxes %>
    
    </div>

    <% include ./src/includes/@home/content %>
    <% include ./src/includes/community/community %>
    
    <div class="overflow--hidden">
    
    <% include ./src/includes/newsletter %>
    <% include ./src/includes/join %>

    </div>
     
    <% include ./src/includes/book %>
    <% include ./src/includes/courses %>
    <% include ./src/includes/nts %>
    <% include ./src/includes/@home/who %>
    <% include ./src/includes/footer %>
    <% include ./src/includes/navmenu %>
    <% include ./src/includes/apla %>

</div>

</body>
</html>


