<% include ./src/includes/head %>
<body>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

<div class="o-container">
    
    <% include ./src/includes/@single/post %>
    <% include ./src/includes/catboxes-other %>
    <% include ./src/includes/@single/comments %>
    
    <div class="overflow--hidden">
        <% include ./src/includes/newsletter %>
        <% include ./src/includes/join %>
    
    </div>
    
    <div class="overflow--hidden">

        <% include ./src/includes/moureaboutme %>

    </div>
    
    <% include ./src/includes/footer %>
    <% include ./src/includes/navmenu %>
    <% include ./src/includes/apla %>

</div>

</body>
</html>


