<% include ./src/includes/head %>
<body>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

<div class="o-container">    
    
    
        
        <% include ./src/includes/@single/top %>


    <div class="c-post">
        <article class="o-article">
            
                <hr>
                
                <p>Większość osób zaczyna szukać pomysłu na biznes w ramach swoich zainteresowań. Praca oparta na pasji, to przecież nie praca, prawda?</p>
            
                <p>No nie do końca… Jasne, fajnie <a href="#">pracować nad czymś</a>, co nas kręci, ale nasze pasje nie zawsze będą dobrym materiałem do zrobienia z tego firmy.</p>
                
                <p>To nie oznacza oczywiście, że mamy zająć się czymś, co nas męczy. Po prostu dobry pomysł na biznes powinien spełniać kilka ważniejszych kryteriów niż to, czy można go np. powiązać z Twoim hobby. Te kryteria omówimy w dalszej części tego tekstu.</p>
                
                <hr>
                
                
        </article>
    </div>
    
    

    <% include ./src/includes/catboxes-other %>
    <% include ./src/includes/newsletter %>
    <% include ./src/includes/join %>
    
    <% include ./src/includes/footer %>
    <% include ./src/includes/navmenu %>
    <% include ./src/includes/apla %>

</div>

</body>
</html>


