
    <div class="c-top js-top">            
        <a href="index.html" class="o-logo">
            <img src=<%= require("./img/assets/logo-sbx.svg") %> width="97" height="97" alt="sbx">
            <p><span class="size">connect with</span> <span class="venti">Something Bigger</span></p>
        </a>
        
        <% include nav %>

        <div class="o-hamburger js-hamburger"></div>
    </div>
