
    <div class="c-catboxes bg-gray">
        <div class="o-section">
            <div class="o-wrap">
                    
                <div class="o-header">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item splitting--right js-split" data-splitting>                    
                            <h5 class="o-lead o-lead--5">Zobacz także</h5>
                            <h3 class="o-lead o-lead--2">Inne tematy</h3>          
                        </div>
                    
                        <div class="o-cols__item">
                            <div class="o-article o-article--medium anim anim--up">
                                <p>Wybierz jeden z pozostałych tematów z list poniżej. Znajdziesz tu materiały dotyczące każdego etapu prowadzenia małego biznesu.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <% include ../catboxes/items %>
                
            </div>
        </div>
    </div>
