
    <div class="c-cattop">
        <div class="o-wrap">
            <div class="o-section">
                
                <div class="c-cattop__image">
                    <img src=<%= require("./img/categories/preparing.svg") %> width="626" height="334" alt="">
                </div>

                <div class="o-header aligncenter">
                    <div class="splitting--up js-split" data-splitting>                    
                        <h3 class="o-lead o-lead--2">Przygotowania<br> i rozpoczynanie</h3>          
                    </div>

                    <div class="o-article o-article--big">
                        <p>Tutaj krótki opis kategorii w dwóch, maksymalnie trzech zdaniach. Ogólne założenie co do zawartości 
i kilka słów kluczowych.</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
